<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="import" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
<div class = "container">
  <div class="row">
    <h1 class="col-lg-12"> Gestor de Clients</h1>
    <button class="btn btn-success" on-click="obtenerClientes">Obtener Clientes</button>
    <button class="btn btn-warning" on-click="agregarClientes">Agregar Clientes</button>
  </div>

  <div class="row">
    <table class="table table-striped">
      <tbody>
        <template is="dom-repeat" items="{{clientes}}">
          <tr>
            <td>
              [[item.CustomerID]]
            </td>
            <td>
              [[item.ContactName]]
            </td>
            <td>
              [[item.CompanyName]]
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

</div>
  </template>

  <script>
    /**
     * @customElement
     *En login es bidireccional. two way.
     *
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
      }
      agregarClientes(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        var nuevoCliente = {"CustomerID":"1234","ContactName":"Pepe","CompanyName":"Pepes bar"};

        var body = JSON.stringify(nuevoCliente);
        request.send(body);

        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
