<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="import" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
<div class = "container">
  <div class="row">
        <img class="col-xs-12 col-lg-8" src="https://cdn130.picsart.com/285390432003211.png?r1024x1024" alt="" height="300" width="300">
 </div>
 <div class="row">
       <button on-click= "incrementar" class="col-xs-12 col-lg-4 btn btn-warning" type="button" name="button">Cargar Datos</button>
    <br>
       bidireccional: <input type="text" placeholder="[[prop3]]" value="{{prop1:input}}">
     <br>
       unidireccional <input type="text" value="[[prop1]]">
</div>
<div class="row">
      <table class="table table-striped col-lg-12 col-xs-12">
      <thread>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </thread>
      <tbody>
        <tr>
          <td>[[prop2]]</td>
          <td>Selena</td>
          <td>MOra</td>
        </tr>
        <tr>
          <td>2</td>
          <td>ELena</td>
          <td>Perez</td>
        </tr>
      </tbody>
</table>

</div>
</div>
  </template>

  <script>
    /**
     * @customElement
     *En login es bidireccional. two way.
     *
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2+1;

      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
